/*-- PX Slider Admin Style -----------
------------------------------------*/
#pxslider_wrap{width:570px;}
.pxs_admintbl td{padding:5px 0px;}
.pxs_admintbl td:first-child{width:150px;}
.pxs_admintbl .pxs_bglyrset{border-radius: 2px;border: 5px solid #e4e4e4;display: block;height: 18px;margin: 8px 0;padding: 19px;text-align: center;width: 160px;}
.pxs_admintbl .pxs_bglyrset input{display:none;}
.pxs_admintbl .pxs_bglyrset.active{border-color:#0D5B7C;border-width: 5px;}
.pxs_admintbl  .pxs_uploadimg{width:250px;}
.pxs_oopserr{color:red;}
.pxslider_iframe{   
	border: 1px solid #DFDFDF;
    border-radius: 0;
    left: 590px;
    padding: 4px;
    position: absolute;
    top: 210px;
    z-index: 4;
} 	 
.pxslider-wrapper #wp_banner{
	width:696px;
	height:131px;
	background:url('../images/banner.jpg') no-repeat center;
	padding:3px;
	border-radius:3px;
	border:1px solid #ccc;
	margin:10px 0px;
}

.pxslider-wrapper #wp_banner #mc-embedded-subscribe-form{
    margin: 0 0 0 176px;
    padding: 0;
}

.pxslider-wrapper #wp_banner #mc_embed_signup .mc-field-group{
    min-height: 45px;
    padding-bottom: 0;
    width: 100%;
}

.pxslider-wrapper #wp_banner #mc_embed_signup .mc-field-group input[type='email']{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #777777;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    padding: 8px 0;
    text-indent: 1%;
    width: 341px;
}
.pxslider-wrapper #wp_banner #mc_embed_signup .mc-field-group input[type='submit']{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: none;
    clear: none;
    float: left;
    margin: 6px 0 0 19px;
    width: 141px;
}

.pxslider-wrapper #wp_banner .bot_section{
	width:100%;
	height:86px;
}

.pxslider-wrapper #wp_banner .bot_section a{
	float:left;
	display:block;
	width:45px;
	height:45px;
	margin-top: 15px;
	outline:none;
}

.pxslider-wrapper #wp_banner .bot_section a.wplogo{
    height: 70px;
    margin-left: 271px;
    width: 150px;
}
.pxslider-wrapper #wp_banner .bot_section a.fbicon{
    margin-left: 138px;
}
.pxslider-wrapper #wp_banner .bot_section a.twicon{
	margin-left:15px;
}

.pxslider_scode_wrapper{
	width:571px;
}

.pxslider_scode_wrapper .px_shortinfo {
    background: none repeat scroll 0 0 #DEF2FA;
    border: 1px solid #8FB0C7;
    color: #333333;
    font-family: fantasy;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    padding: 10px;
}